<div class ="card">
    <div class = "card-header">
        Room Booking Form
<form [formGroup] = "roomForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"formControlName= "bookerName" required >
      </div>
    <div class="form-group">
        <label for="location">Number of Occupants</label>
        <input type="number" class="form-control" id="occupants" formControlName="numOccupants" required>
    </div>
    <div class="form-group">
        <label for="location">Start Time</label>
        <input type="time" class="form-control" id="time" formControlName="startTime" required>
        <label for="location">End Time</label>
        <input type="time" class="form-control" id="time" formControlName="endTime" required>
    </div>
    <button type="button" class="btn btn-primary" (click)= "onSubmit()">Save</button>
</form>
</div>
