<div class = "card">
    <div class =  "card-header">
        Room Booked Info
    </div>
    <table class="table">
        <tbody>
            <tr>
                <td>Name of Booker:</td>
                <td>{{bookedInfo.bookedRoomDetails[0]}}</td>
            </tr>
            <tr>
                <td>Number of Occupants:</td>
                <td>{{bookedInfo.bookedRoomDetails[1]}}</td>
            </tr>
            <tr>
                <td>Start time:</td>
                <td>{{bookedInfo.bookedRoomDetails[2]}}</td>
            </tr>
            <tr>
                <td>End Time:</td>
                <td>{{bookedInfo.bookedRoomDetails[3]}}</td>
            </tr>
        </tbody>
      </table>
</div>
